body {
    background: linear-gradient(135deg, #0f172a, #1f2949);
    font-family: "Red Hat Display", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-image: url('../imagens/background.png');
    background-size: cover;
    background-position: center;
    color: white;
    width: 340px;
    border-radius: 18px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.25);
    overflow: hidden;
}

.busca {
    padding: 20px;
    display: flex; 
    gap: 6px; 
}

.busca input {
    flex: 1;
    background: rgba(0,0,0,0.4);
    border: none;
    padding: 10px;
    border-radius: 8px;
    color: #ffffff;
    font-size: 14px;
    outline: none;
}

.busca input::placeholder {
    color: rgba(255, 255, 255, 0.6)
}

.btn-busca {
    background: #0ea5e9;
    border: none;
    border-radius: 8px;
    padding: 6px 10px;
    cursor: pointer;
    transition: 0.2s ease;
}

.btn-busca:hover {
    background: #0284c7;
    transform: scale(1.05);
}

.lupa {
    width: 26px;
    padding: 2px;
    opacity: 0.9;
}

.informacao-principal {
    text-align: center;
    padding: 20px;
}

#cidade {
    font-size: 18px;
    font-weight: 700;
}


.temperatura {
    font-size: 64px; 
    font-weight: bold;
    margin: 10px 0; 
}

.condicao {
    font-size: 18px; 
    opacity: 0.9;
}

.informacao-secundaria {
    background-color: #ffffff;
    color: #000000;
    padding: 18px; 
    border-radius: 0 0 18px 18px;
}

.informacao-secundaria div {
    display: flex;
    justify-content: space-between;
    padding: 8px 0; 
    font-size: 14px;
}

@media (max-width: 600px) {

    body {
        padding: 0;
        height: auto;
    }

    .container {
        width: 100%;
        height: 100vh;
        border-radius: 0;
        position: relative;
    }

    .busca {
        padding: 18px;
    }

    .temperatura {
        font-size: 56px;
    }

    .informacao-secundaria {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45vh;
    border-radius: 0;
    padding: 22px;
    }

    .informacao-secundaria div {
    font-size: 15px;
    padding: 12px 0;
    }

}
